.container {
    height: 100%;
    width: 100%;
    display flex;
    justify-content center;
    flex-direction: column;
}
.wrapper {
    margin: 0 76px;
    padding 50px 50px;
    background transparent;
    box-shadow:0px 0px 2px rgba(51,51,51,0.28);
    border-radius:24px;

    h4 {
        text-align: center;
        line-size(36px);
        margin-bottom: 50px;
    }

    input {
        border none;
        border-bottom: 2PX solid rgba(214,214,214,0.4);
        box-shadow none;
        width: 100%;
        line-size(32px);
        padding 20px 0;
    }

    input::-webkit-input-placeholder {
        color: rgba(47,41,41,0.2);
    }

    p {
        position: relative;


    }

    p + p {
        margin-top: 48px;
    }
}

.sms {
    color: primary;
    line-size(32px);
    position: absolute;
    right: 0px;
    bottom: 22px;
    -webkit-appearance: none;
    border: none;
    background none;
}

.login {
    background: primary;
    border-radius: 50px;
    color: #fff;
    width: 100%;
    border: none;
    line-size(36px);
    padding: 26px 0;
    margin-top: 80px;
}